.App {
  text-align:center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
#pond {
  display: flex;
  width: 78px;
  left: 13px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.App-header {
  background-color: #52ade5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/



.header {

  color : bisque;
  font-size: 20px;
}
.text-4 {
  text-align:left;
  vertical-align: top;
  horiz-align: left;
  font-size: 54px;
  font-family: Jomhuria;
  line-height: auto;
  color: #49c4ae;
}

.card-header {
  text-align:left;
  vertical-align: top;
  horiz-align: left;
  font-size: 32px;
  font-family: Jomhuria;
  line-height: auto;
  background: #cff6f4;
  color: #4AC5AE;
}

.button-home{
  display: flex;
  justify-content: flex-end;


  font-family: Jomhuria;
  line-height: auto;
  background: #cff6f4;
  color: #4AC5AE;
}

.navbar a{
  padding: 15px;
  text-decoration: none;
  color: #4AC5AE;

}
.navbar a:hover{
  color: black;

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

