.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
#pond {
  display: flex;
  width: 78px;
  left: 13px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.App-header {
  background-color: #52ade5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.header {
  font-family: Cambria;
  color: rgb(7, 5, 2);
  font-size: 50px;
  text-align: center;
}
.text-4 {
  text-align: left;
  vertical-align: top;
  horiz-align: left;
  font-size: 54px;
  font-family: Jomhuria;
  line-height: auto;
  color: #49c4ae;
}

.card-header {
  text-align: left;
  vertical-align: top;
  horiz-align: left;
  font-size: 32px;
  font-family: Cambria;
  line-height: auto;
  background: #cff6f4;
  color: #4ac5ae;
}

.card:hover {
  box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 30%);
}

.button-home {
  display: flex;
  justify-content: flex-end;

  font-family: Cambria;
  line-height: auto;
  background: #cff6f4;
  color: #4ac5ae;
}

.navbar a {
  padding: 15px;
  text-decoration: none;
  color: #4ac5ae;
  font-family: Cambria;
}
.navbar a:hover {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
b {
  font-family: Cambria;
  font-weight: bold;
}
c {
  font-family: Cambria;
  font-weight: lighter;
}
t {
  font-weight: bold;
  color: #52ade5;
  text-shadow: 1px 1px 2px pink;
}
article {
  font-family: Cambria;
  font-size: medium;
  text-align: left;
  font-size: 70px;
  padding: 1em;
}
b1{
  float:right;
  Margin-left:10px;
  padding-right: 55px;
  
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Cambria;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.clubInfo {
  background-color: #cff6f4;
  height: 70vh;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.clubInfo .clubName {
  font-family: Cambria;
  text-align: center;
  font-size: 40px;
  padding: 0 1em 1em 1em;
  /* padding: 1em; */
  font-weight: 600;
}

.clubInfo .clubDescription {
  font-family: Cambria;
  text-align: center;
  font-size: 20px;
  padding: 0 1em 3em 1em;
  font-weight: 400;
}

.postList {
  background-color: #ffffff;
  height: 70vh;
  /* border: 1px solid #d2d2d2;
  border-radius: 3px; */
  width: 100%;
}

.title {
  font-family: Cambria;
  text-align: left;
  font-size: 40px;
  padding: 0;
  /* padding: 1em; */
  font-weight: 600;
}

.container {
  max-width: 1310px;
}

.icon {
  margin-left: 20px;
}

.icon i {
  font-size: 1.5rem;
}

.icon span {
  font-size: 20px;
}


.EventInfo {
  background-color: #cff6f4;
  height: 70vh;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.EventInfo .userName {
  font-family: Cambria;
  text-align: center;
  font-size: 40px;
  padding: 0 1em 1em 1em;
  /* padding: 1em; */
  font-weight: 600;
}

.EventInfo .userDescription {
  font-family: Cambria;
  text-align: center;
  font-size: 20px;
  padding: 0 1em 3em 1em;
  font-weight: 400;
}

.EventInfo .Follow {
  font-family: Cambria;
  text-align: center;
  font-size: 40px;
  padding: 0 1em 1em 1em;
  /* padding: 1em; */
  font-weight: 600;
}